body {
  overflow-x: hidden;
}

nav a {
	font-family: Roboto Slabs;
	color: #5f8dc2 !important;
}

#landing img {
	height: 400px;
	width: 400px;
}
#landing h1, h2, h5, p {
	font-family: Roboto Slabs;
	
}

#landing {
  background-image: 
    linear-gradient(rgba(209, 204, 252, 0.8), rgba(209, 204, 252, 0.8)),
    url('https://t4.ftcdn.net/jpg/02/67/52/49/360_F_267524919_wXbVQHR189pLVU06eQ85GGLnJMq2eJFR.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

 .card-img-top {
 	height: 15vw;
 	object-fit: cover;
 }

 #projects {
 	font-family: Roboto Slabs;
 	background: #afc2f0;
 }

 #tools {
 	font-family: Roboto Slabs;
 }

 #contact {
 	font-family: Roboto Slabs;
 	background: #d5dff5;
 }
 footer {
 	font-family: Roboto Slabs;
 	color: #5f8dc2;
 }



 
