nav a {
	font-family: Roboto Slabs;
	color: #5f8dc2 !important;
}

#landing {
	background: 
	url("https://img.freepik.com/free-photo/top-view-desk-concept-with-laptop_23-2148236828.jpg?semt=ais_hybrid&w=740");
	background-repeat: no-repeat;
	background-size: cover;
}

#landing img {
	height: 400px;
	width: 400px;
}
#landing h1, h2, h5, p {
	font-family: Roboto Slabs;
	
}

 .card-img-top {
 	height: 15vw;
 	object-fit: cover;
 }

 #projects {
 	font-family: Roboto Slabs;
 	background: #afc2f0;
 }

 #tools {
 	font-family: Roboto Slabs;
 }

 #contact {
 	font-family: Roboto Slabs;
 	background: #d5dff5;
 }
 footer {
 	font-family: Roboto Slabs;
 	color: #5f8dc2;
 }

 
